.auth-main-container {
  padding: 14vh 12vw;
  background: linear-gradient(to bottom right, #3ff6dd, #e3e3e3, #3ff6dd);
}

.auth-container {
  display: flex;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 28vh);
  justify-content: space-evenly;
  background-color: white;
  border-radius: 30px;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.auth-input {
  /* width: 60%; */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.auth-button {
  /* width: 60%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Familjen Grotesk', sans-serif;
}

.auth-button:hover {
  background-color: #e3e3e3;
}

.hide-image-container,
.sign-in-image {
  width: 300px;
  margin-left: -100px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #155456;
}

.sign-in-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #006D77;
}

@media all and (max-width: 1030px) {
  .auth-main-container {
    padding: 13vh 10vw;
  }

  .auth-container {
    height: calc(100vh - 26vh);
  }
}

@media all and (max-width: 980px) {
  .auth-main-container {
    padding: 11vh 8vw;
  }

  .auth-container {
    height: calc(100vh - 22vh);
  }
}

@media all and (max-width: 950px) {
  .auth-container {
    flex-direction: column;
    justify-content: center;
  }

  .sign-in-image {
    margin-left: 0;
    width: 250px;
  }

  .hide-image-container {
    display: none;
  }

  .sign-in-title {
    font-size: 28px;
  }

  .auth-button {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .auth-main-container {
    padding: 10vh 6vw;
  }

  .auth-container {
    padding: 15px;
    height: calc(100vh - 20vh);
  }

  .auth-input {
    padding: 8px;
  }

  .auth-button {
    padding: 8px;
    font-size: 14px;
  }

  .sign-in-image {
    width: 220px;
  }

  .sign-in-title {
    font-size: 26px;
  }
}

@media all and (max-width: 470px) {
  .auth-form-container {
    width: 200px;
  }

  .auth-main-container {
    padding: 8vh 6vw;
  }

  .auth-container {
    padding: 10px;
    height: calc(100vh - 16vh);
  }

  .auth-button {
    font-size: 12px;
  }

  .sign-in-title {
    font-size: 24px;
  }
}
