.create-event-container {
    display: grid;
    flex-direction: row;
    gap: 100px;
    grid-template-columns: 1fr 1.7fr;
  }
  
  .create-event-image img {
    width: 100%;
    min-width: 550px;
    height: 100vh;
  }
  
  .create-event-form-container {
    flex: 1;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    justify-content: center;
  }
  
  .create-event-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #007074;
  }
  
  .create-event-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }
  
  .create-event-form-group {
    display: flex;
    flex-direction: column;
  }
  
  .create-event-form-control {
    /* min-width: 550px; */
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #007074;
  }

  .create-event-label {
    font-size: 21px;
    color: #007074;
    font-weight: 600;
  }
  
  textarea.form-control {
    resize: vertical;
  }

  .create-event-button {
    width: 320px;
    height: 55px;
    color: #fff;
    font-size: 26px;
    border-radius: 8px;
    background-color: #007074;
    cursor: pointer;
  }
  
  /* .create-event-button:disabled {
    background-color: #007074;
  } */
  
  .loading-spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #007bff;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  @media all and (max-width: 1170px) {
    .create-event-container {
      grid-template-columns: 1fr;
    }
  
    .create-event-image img {
      display: none;
    }
  
    .create-event-form-container {
      padding-right: 0;
      padding: 0 55px;
    }

    .create-event-image-uploader {
        gap: 50px;
    }

    .choose-image-button {
        width: 185px;
    }
  }

  @media all and (max-width: 450px) {
    .create-event-image-uploader {
        flex-wrap: wrap;
        gap: 30px;
    }

    .choose-file-input-type {
        width: 180px;
    }

  }