.create-event-image-uploader {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 20px;
}

.upload-button {
    background-color: #006D77;
    height: 40px;
    color: #fff;
    border-radius: 5px;
}

.upload-button:disabled {
    background-color: #E7E7E7;
    color: #006D77;
}

.choose-image-button {
    background-color: #E7E7E7;
    border-radius: 5px;
    border: 1px solid #006D77;
    height: 40px;
}
