.favorites-container {
    padding: 20px;
  }
  
  .photos-grid {
    margin-top: 20px;
  }
  
  .photo-item {
    position: relative;
    cursor: pointer;
  }
  
  .photo-wrapper {
    position: relative !important;
    border: 2px solid transparent;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .photo-img {
    width: 100% !important;
    height: auto !important;
    display: block !important;
    border-radius: 8px !important;
}
  
  .download-icon {
      position: absolute !important;
      top: 10px !important;
      right: 10px !important;
      background-color: rgba(255, 255, 255, 0.7) !important;
      border-radius: 50% !important;
  }

  
  @media (max-width: 768px) {
    .favorites-container {
      padding: 10px;
    }
  
    .photos-grid {
      margin-top: 10px;
    }
  }