.main-container {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .main-container {
      flex-direction: row;
    }
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .top-button {
    background-color: #013220;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .top-button:hover {
    background-color: #014c33;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }