.host-dashboard-container {
  display: flex !important;
  flex-direction: row !important;
  height: 100vh !important;
}

.host-dashboard-main-content {
  flex-grow: 1 !important;
  padding: 20px !important;
  overflow-y: auto !important;
  background-color: #f4f4f4 !important;
}

@media (max-width: 768px) {
  .host-dashboard-container {
    flex-direction: column !important;
  }

  .host-dashboard-main-content {
    padding: 10px !important;
  }
}